.app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Ensure container takes at least the full viewport height */
  }
  
  router-outlet {
    flex: 1; /* Allow router-outlet to expand and take remaining space */
  }
  
  footer {
    margin-top: auto; /* Push footer to the bottom */
  }
  

  