
<!-- 
<mat-toolbar color="primary">
    <span>Your Brand</span>
    <span class="fill-remaining-space"></span>
    <button mat-button routerLink="/">Home</button>
    <button mat-button routerLink="/app-vehicle-registration">Vehicle-Register</button>
    
  </mat-toolbar>
   -->
  

  
<div>
  <mat-toolbar color="primary">
      <span class="spacer"></span>
      <button mat-icon-button aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
      </button>
      <button mat-button routerLink="/app-home">Home</button>
      <!-- <button mat-button routerLink="/app-login">Login</button>
      <button mat-button routerLink="/app-register">Register</button> -->
      <!-- <button mat-button routerLink="/app-account-details">Account</button>
      <button mat-button routerLink="/app-selectcountry">SelectCountry</button>
      <button mat-button routerLink="/app-addnew">AddNew</button>
      <button mat-button routerLink="app-child">Child</button>
      <button mat-button routerLink="app-parent">Parrent</button> -->
      <!-- <button mat-button routerLink="/app-search-branching">IFSC CODE</button>
      <button mat-button routerLink="/app-vehicle">VEHICLE</button>
      <button mat-button routerLink="/app-list-vehicle">All Vehicle</button> --> 
      <!-- <button mat-button routerLink="/app-pension">Pension</button> -->
      <!-- <button mat-button routerLink="/app-dropdown">Filter</button>
      <button mat-button routerLink="/app-pensioner-report">Pension Report</button> -->
      <!-- <button mat-button routerLink="/app-save-bank-details">AddDetails</button> -->

      <!-- <button mat-button routerLink="/app-bankdetals">All Detals</button>
      <button mat-button routerLink="/tesing">Test</button> -->

      <button mat-button routerLink="/vehicleRegistration">Vehicle-Register</button>
  </mat-toolbar>
</div>